.projects__title, .about__title, .contact__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.projects__title::before, .about__title::before, .contact__title::before {
  content: '';
  display: inline-block;
  position: relative;
  left: 0;
  bottom: 0.4rem;
  margin-right: 5%;
  width: 5rem;
  height: 0.1rem;
  background: white;
}

.nav__list, .projects__container, .projects__container__project__links, .about__text, .about__skills__list-container, .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__container__project, .contact__container__links__1, .contact__container__links__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #232320;
  color: white;
}

body a {
  text-decoration: none;
  color: white;
}

body li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background: #cf4141;
}

body::-webkit-scrollbar-track {
  background: #191919;
}

.particles-js {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 5rem;
  width: 100%;
  background: #232320;
  z-index: 2;
}

.nav__list {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.nav__list__first-item {
  margin-right: 50%;
  font-size: 1.5rem;
}

.landing-page {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.landing-page__heading {
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Domine", serif;
  font-size: 6rem;
  z-index: 1;
  -webkit-animation: 0.5s ease-in-out 0.3s forwards fadeIn;
          animation: 0.5s ease-in-out 0.3s forwards fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

.projects {
  margin-top: 0;
  padding: 0 5rem;
}

.projects__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5%;
}

.projects__container__project {
  padding: 1.5em 1em 1em;
  width: 41vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 7%;
  border-radius: 10px;
  background: #191919;
}

.projects__container__project__img {
  width: 100%;
  height: auto;
}

.projects__container__project__title {
  font-family: "Domine", serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 6% auto 5%;
}

.projects__container__project__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.7rem;
  width: 90%;
}

.projects__container__project__links {
  margin: 6% auto 4%;
  width: 50%;
}

.projects__container__project__links a {
  padding: 2% 1%;
  width: 40%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: white;
  background: #232320;
  border-radius: 3px;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.projects__container__project__links a:hover {
  background: #cf4141;
}

.projects__see-more {
  text-align: center;
}

.projects__see-more__link {
  padding: 1.5% 2.5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  border-radius: 5px;
  background: #191919;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.projects__see-more__link:hover {
  background: #cf4141;
}

.about {
  margin: 8rem auto 4rem;
  padding: 0 5rem;
}

.about__text {
  margin-top: 5%;
  padding: 0 5%;
}

.about__text__paragraph {
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.about__text__img {
  width: 30%;
  height: auto;
  border-radius: 10px;
}

.about__skills {
  margin-top: 6rem;
}

.about__skills__title {
  text-align: center;
  margin-bottom: 4%;
  font-family: "Domine", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.about__skills__list-container {
  padding: 0 20%;
}

.about__skills__list-container__list {
  width: 20vw;
  height: 18.7em;
  padding: 1.5% 0;
  border-radius: 10px;
  background: #191919;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 2.9rem;
}

.contact {
  margin: 8rem auto 4rem;
  padding: 0 5rem;
}

.contact__container {
  margin-top: 3rem;
  padding: 0 20% 0 5%;
  font-family: "Roboto", sans-serif;
  line-height: 4.5rem;
  font-size: 1.5rem;
}

.contact__container__links__1 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__container__links__2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__container__links__1__email:hover {
  color: #d54b3d;
}

.contact__container__links__1__linkedin:hover {
  color: #0077b5;
}

.contact__container__links__1__twitter:hover {
  color: #1c9cea;
}

.contact__container__links__2__github:hover {
  color: #bbb;
}

.contact__container__links__2__codepen:hover {
  color: #bbb;
}

.contact__container__links__icon {
  margin-right: 1rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 3000px) {
  .projects__title, .about__title, .contact__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3rem;
  }
  .projects__title::before, .about__title::before, .contact__title::before {
    content: '';
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0.4rem;
    margin-right: 5%;
    width: 10rem;
    height: 0.2rem;
    background: white;
  }
  body {
    padding: 0 15rem;
  }
  .nav {
    padding: 3rem 15rem;
  }
  .nav__list {
    font-size: 3rem;
  }
  .nav__list__first-item {
    font-size: 3rem;
  }
  .landing-page__heading {
    font-size: 10rem;
  }
  .projects__container {
    margin-top: 7%;
  }
  .projects__container__project {
    padding: 2.5em;
    width: 37vw;
    margin-bottom: 9%;
    border-radius: 20px;
  }
  .projects__container__project__title {
    font-size: 4rem;
  }
  .projects__container__project__text {
    font-size: 2rem;
    line-height: 3rem;
    width: 85%;
  }
  .projects__container__project__links a {
    padding: 3% 1%;
    font-size: 2em;
    border-radius: 6px;
  }
  .projects__see-more__link {
    padding: 2% 3%;
    font-size: 3rem;
    border-radius: 10px;
  }
  .about {
    margin: 23rem auto 10rem;
  }
  .about__text {
    margin-top: 5%;
    padding: 0 7%;
  }
  .about__text__paragraph {
    font-size: 3rem;
    line-height: 4.2rem;
  }
  .about__text__img {
    width: 70%;
    border-radius: 20px;
  }
  .about__skills {
    margin-top: 14rem;
  }
  .about__skills__title {
    margin-bottom: 6%;
    font-size: 2.7rem;
  }
  .about__skills__list-container {
    padding: 0 20%;
  }
  .about__skills__list-container__list {
    height: 21.8em;
    padding: 2% 0;
    margin-bottom: 7%;
    border-radius: 10px;
    font-size: 2.7rem;
    line-height: 7rem;
  }
  .contact {
    margin: 23rem auto 10rem;
  }
  .contact__container {
    margin-top: 6rem;
    padding: 0 30% 0 7%;
    line-height: 10rem;
    font-size: 2.5rem;
  }
  .contact__container__links__icon {
    margin-right: 2rem;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@media screen and (max-width: 350px) {
  .projects__title, .about__title, .contact__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .projects__title::before, .about__title::before, .contact__title::before {
    content: '';
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0.4rem;
    margin-right: 5%;
    width: 3rem;
    height: 0.1rem;
    background: white;
  }
  .projects__container__project__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__container, .projects__container__project, .about__text, .about__skills__list-container, .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    padding: 0.6rem 1.3rem;
  }
  .nav__list {
    font-size: 1rem;
  }
  .nav__list__first-item {
    margin-right: 5%;
  }
  .landing-page__heading {
    font-size: 2.2rem;
  }
  .projects {
    margin-top: 0;
    padding: 0 1rem;
  }
  .projects__container {
    margin-top: 10%;
  }
  .projects__container__project {
    padding: 0.9em 0.7em 1em;
    width: 90vw;
    margin-bottom: 10%;
  }
  .projects__container__project:last-child {
    margin-bottom: 20%;
  }
  .projects__container__project__title {
    text-align: center;
    margin: 6% auto 5%;
    font-size: 1.7rem;
  }
  .projects__container__project__text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .projects__container__project__links {
    margin: 8% auto 2%;
    width: 85%;
  }
  .projects__container__project__links a {
    font-size: 1.1rem;
  }
  .projects__see-more__link {
    padding: 3% 8%;
    font-size: 1.2rem;
  }
  .about {
    margin: 8rem auto 4rem;
    padding: 0 1rem;
  }
  .about__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 5%;
    padding: 0 3%;
  }
  .about__text__paragraph {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .about__text__img {
    width: 80%;
    height: auto;
    margin: 7% auto 12%;
  }
  .about__skills {
    margin-top: 4rem;
  }
  .about__skills__title {
    margin-bottom: 10%;
    font-size: 1.2rem;
  }
  .about__skills__list-container {
    padding: 0 7%;
  }
  .about__skills__list-container__list {
    width: 75vw;
    height: 19.5em;
    font-size: 1.1rem;
    line-height: 2.6rem;
  }
  .about__skills__list-container__list:first-child {
    margin-bottom: 10%;
  }
  .contact {
    margin: 8rem auto 4rem;
    padding: 0 1rem;
  }
  .contact__container {
    margin-top: 3rem;
    padding: 0 0 0 8%;
    line-height: 4rem;
    font-size: 1.1rem;
  }
  .contact__container__links__1 {
    width: 100%;
  }
  .contact__container__links__2 {
    width: 100%;
  }
  .contact__container__links__icon {
    margin-right: 1rem;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (min-width: 351px) and (max-width: 700px) {
  .projects__title, .about__title, .contact__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  .projects__title::before, .about__title::before, .contact__title::before {
    content: '';
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0.4rem;
    margin-right: 5%;
    width: 3rem;
    height: 0.1rem;
    background: white;
  }
  .projects__container__project__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__container, .projects__container__project, .about__text, .about__skills__list-container, .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    padding: 1rem 1.3rem;
  }
  .nav__list {
    font-size: 1rem;
  }
  .nav__list__first-item {
    margin-right: 10%;
  }
  .landing-page__heading {
    font-size: 2.6rem;
  }
  .projects {
    margin-top: 0;
    padding: 0 1.3rem;
  }
  .projects__container {
    margin-top: 10%;
  }
  .projects__container__project {
    padding: 0.9em 0.7em 1em;
    width: 90vw;
    margin-bottom: 10%;
  }
  .projects__container__project:last-child {
    margin-bottom: 20%;
  }
  .projects__container__project__title {
    text-align: center;
    margin: 6% auto 5%;
  }
  .projects__container__project__text {
    font-size: 1.1rem;
  }
  .projects__container__project__links {
    margin: 8% auto 2%;
    width: 80%;
  }
  .projects__container__project__links a {
    padding: 2.5% 2%;
    font-size: 1.3rem;
  }
  .projects__see-more__link {
    padding: 3% 8%;
  }
  .about {
    margin: 8rem auto 4rem;
    padding: 0 1.3rem;
  }
  .about__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 5%;
    padding: 0 3%;
  }
  .about__text__paragraph {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
  .about__text__img {
    width: 80%;
    height: auto;
    margin: 7% auto 12%;
  }
  .about__skills {
    margin-top: 5rem;
  }
  .about__skills__title {
    margin-bottom: 8%;
    font-size: 1.5rem;
  }
  .about__skills__list-container {
    padding: 0 7%;
  }
  .about__skills__list-container__list {
    width: 70vw;
  }
  .about__skills__list-container__list:first-child {
    margin-bottom: 8%;
  }
  .contact {
    margin: 8rem auto 4rem;
    padding: 0 1.3rem;
  }
  .contact__container {
    margin-top: 3rem;
    padding: 0 0 0 8%;
    line-height: 4rem;
    font-size: 1.4rem;
  }
  .contact__container__links__1 {
    width: 100%;
  }
  .contact__container__links__2 {
    width: 100%;
  }
  .contact__container__links__icon {
    margin-right: 1rem;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (min-width: 701px) and (max-width: 1020px) {
  .projects__title, .about__title, .contact__title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .projects__title::before, .about__title::before, .contact__title::before {
    content: '';
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 0.4rem;
    margin-right: 5%;
    width: 5rem;
    height: 0.1rem;
    background: white;
  }
  .projects__container__project__links, .about__skills__list-container, .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__container, .projects__container__project, .about__text, .contact__container__links__1, .contact__container__links__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    padding: 1.5rem 4rem;
  }
  .nav__list {
    font-size: 1.3rem;
  }
  .nav__list__first-item {
    margin-right: 20%;
  }
  .landing-page__heading {
    font-size: 5rem;
  }
  .projects {
    margin-top: 0;
    padding: 0 4rem;
  }
  .projects__container {
    margin-top: 10%;
  }
  .projects__container__project {
    padding: 1em 0.8em 1.2em;
    width: 80vw;
    margin-bottom: 10%;
  }
  .projects__container__project:last-child {
    margin-bottom: 20%;
  }
  .projects__container__project__title {
    text-align: center;
    margin: 6% auto 5%;
    font-size: 2rem;
  }
  .projects__container__project__text {
    width: 95%;
    font-size: 1.1rem;
    line-height: 1.7rem;
  }
  .projects__container__project__links {
    margin: 8% auto 2%;
    width: 60%;
  }
  .projects__container__project__links a {
    font-size: 1.3rem;
  }
  .projects__see-more__link {
    padding: 3% 8%;
    font-size: 1.3rem;
  }
  .about {
    margin: 8rem auto 4rem;
    padding: 0 4rem;
  }
  .about__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 5%;
    padding: 0 3%;
  }
  .about__text__paragraph {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .about__text__img {
    width: 60%;
    height: auto;
    margin: 7% auto 12%;
  }
  .about__skills {
    margin-top: 6rem;
  }
  .about__skills__title {
    margin-bottom: 8%;
    font-size: 1.5rem;
  }
  .about__skills__list-container {
    padding: 0 5%;
  }
  .about__skills__list-container__list {
    width: 35vw;
    height: 19em;
    font-size: 1.3rem;
    line-height: 2.9rem;
  }
  .contact {
    margin: 8rem auto 4rem;
    padding: 0 4rem;
  }
  .contact__container {
    margin-top: 3rem;
    padding: 0 0 0 6%;
    line-height: 4.5rem;
    font-size: 1.4rem;
  }
  .contact__container__links__1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__container__links__2 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 35%;
  }
  .contact__container__links__icon {
    margin-right: 1rem;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=style.css.map */