@media screen and (min-width: 2601px) {

    $padding-large-2: 0 18rem;
    $section-margin-large-2: 15rem auto 8rem;

    %section-title-style-large-2 {
        font-family: $font-family-2;
        font-weight: 400;
        font-size: 1.7rem;
        &::before {
            content: '';
            display: inline-block;
            position: relative;
            left: 0;
            bottom: 0.4rem;
            margin-right: 5%;
            width: 8rem;
            height: 0.2rem;
            background: white;
        }
    }


    // navigation bar ---------------------------------------------------------------------------
    .header {
        padding: 2rem 22rem 2rem 18rem;
    }

    .header__nav {
        font-size: 1.3rem;
    }

    .header__nav__first-item {
        font-size: 1.5rem;
    }


    // landing page -----------------------------------------------------------------------------
    .landing-page__heading {
        font-size: 5rem;
    }

    
    // projects section --------------------------------------------------------------------------
    .projects {
        padding: $padding-large-2;
    }

    .projects__title {
        @extend %section-title-style-large-2;
    }

    .projects__container {
        margin: 7% 0 5%;
        padding: 0 2%;
    }

    .projects__container__project {
        padding: 2em;
        width: 35vw;
        margin-bottom: 8%;
        border-radius: 20px;
    }

    .projects__container__project__title {
        font-size: 2rem;
    }

    .projects__container__project__text {
        font-size: 1.2rem;
        line-height: 2rem;
        height: 7rem;
    }

    .projects__container__project__links {
        width: 65%;
        a {
            padding: 3% 1%;
            font-size: 1.5rem;
            border-radius: 6px;
        }
    }

    .projects__see-more__link {
        padding: 1.5% 3%;
        font-size: 1.5rem;
        border-radius: 10px;
    }


    // about section --------------------------------------------------------------------------
    .about {
        padding: $padding-large-2;
        margin: $section-margin-large-2;
    }

    .about__title {
        @extend %section-title-style-large-2;
    }

    .about__text {
        margin-top: 5%;
        padding: 0 10%;
    }

    .about__text__paragraph {
        font-size: 1.4rem;
        line-height: 2.7rem;
    }

    .about__text__img {
        width: 45%;
        max-width: 25rem;
    }

    .about__skills {
        margin-top: 12rem;
    }

    .about__skills__title {
        margin-bottom: 6%;
        font-size: 2rem;
    }

    .about__skills__list-container {
        padding: 0 20%;
    }

    .about__skills__list-container__list {
        width: 20vw;
        height: 23em;
        padding: 2% 0;
        margin-bottom: 7%;
        border-radius: 10px;
        font-size: 1.5rem;
        line-height: 4rem;
    }


    // contact section --------------------------------------------------------------------------
    .contact {
        padding: $padding-large-2;
        margin: $section-margin-large-2;
    }

    .contact__title {
        @extend %section-title-style-large-2;
    }

    .contact__container {
        margin-top: 6rem;
        padding: 0 20% 0 10%;
        line-height: 10rem;
        font-size: 1.7rem;
    }

    .contact__container__links__icon {
        margin-right: 2rem;
        transform: scale(1.4);
    }


    // footer ---------------------------------------------------------------------------------
    .footer {
        margin: 10rem 0 7rem;
        font-size: 1.3rem;
    }

}