@media screen and (min-width: 701px) and (max-width: 1110px) {

    $padding-mobile-3: 0 4rem;
    $section-margin-mobile-3: 8rem auto 4rem;

    %section-title-style-mobile-3 {
        font-family: $font-family-2;
        font-weight: 400;
        font-size: 1.2rem;
        &::before {
            content: '';
            display: inline-block;
            position: relative;
            left: 0;
            bottom: 0.4rem;
            margin-right: 5%;
            width: 5rem;
            height: 0.1rem;
            background: white;
        }
    }

    %flex-row-mobile-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    %flex-column-mobile-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    // navigation bar ---------------------------------------------------------------------------
    .header {
        padding: 1.5rem 4rem;
    }

    .header__nav {
        font-size: 1.3rem;
    }

    .header__nav__first-item {
        margin-right: 20%;
    }


    // landing page -----------------------------------------------------------------------------
    .landing-page__heading {
        font-size: 5rem;
    }


    // projects section --------------------------------------------------------------------------
    .projects {
        margin-top: 0;
        padding: $padding-mobile-3;
    }

    .projects__title {
        @extend %section-title-style-mobile-3;
    }

    .projects__container {
        @extend %flex-column-mobile-3;
        margin-top: 10%;
    }

    .projects__container__project {
        @extend %flex-column-mobile-3;
        padding: 1em 0.8em 1.2em;
        width: 80vw;
        margin-bottom: 15%;
        &:last-child {
            margin-bottom: 20%;
        }
    }

    .projects__container__project__title {
        text-align: center;
        margin: 7% auto 6%;
        font-size: 2rem;
    }

    .projects__container__project__text {
        width: 95%;
        height: fit-content;
        margin-bottom: 1rem;
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    .projects__container__project__links {
        @extend %flex-row-mobile-3;
        margin: 8% auto 2%;
        width: 60%;
        a {
            font-size: 1.3rem;
        }
    }

    .projects__see-more__link {
        padding: 3% 8%;
        font-size: 1.3rem;
    }


    // about section --------------------------------------------------------------------------
    .about {
        margin: $section-margin-mobile-3;
        padding: $padding-mobile-3;
    }

    .about__title {
        @extend %section-title-style-mobile-3;
    }

    .about__text {
        @extend %flex-column-mobile-3;
        flex-direction: column-reverse;
        margin-top: 5%;
        padding: 0 3%;
    }

    .about__text__paragraph {
        width: 100%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: center;
    }

    .about__text__img {
        width: 60%;
        height: auto;
        margin: 7% auto 12%;
    }

    .about__skills {
        margin-top: 7rem;
    }

    .about__skills__title {
        margin-bottom: 10%;
        font-size: 1.5rem;
    }

    .about__skills__list-container {
        @extend %flex-row-mobile-3;
        padding: 0 5%;
    }

    .about__skills__list-container__list {
        width: 35vw;
        height: 19em;
        font-size: 1.3rem;
        line-height: 2.9rem;
    }


    // contact section --------------------------------------------------------------------------
    .contact {
        margin: $section-margin-mobile-3;
        padding: $padding-mobile-3;
    }

    .contact__title {
        @extend %section-title-style-mobile-3;
    }

    .contact__container {
        @extend %flex-row-mobile-3;
        margin-top: 3rem;
        padding: 0 0 0 6%;
        line-height: 4.5rem;
        font-size: 1.4rem;
    }

    .contact__container__links__1 {
        @extend %flex-column-mobile-3;
        align-items: flex-start;
    }
    
    .contact__container__links__2 {
        @extend %flex-column-mobile-3;
        align-items: flex-start;
        width: 35%;
    }

    .contact__container__links__icon {
        margin-right: 1rem;
        transform: scale(1.1);
    }

}