$background-black: #232320;
$black-shade: #191919;
$light-red: #cf4141;
$darkgray: #979797;
$lightgray: #f5f5f5;
$gmail-red: #d54b3d;
$linkedin-blue: #0077b5;
$twitter-blue: #1c9cea;
$font-family-1: 'Domine', serif;
$font-family-2: 'Roboto', sans-serif;

$padding: 0 5rem;
$background-transition: background-color 0.1s ease-in;
$color-transition: color 0.1s ease-in;
$section-margin: 8rem auto 4rem;

%section-title-style {
    font-family: $font-family-2;
    font-weight: 400;
    font-size: 1.5rem;
    &::before {
        content: '';
        display: inline-block;
        position: relative;
        left: 0;
        bottom: 0.4rem;
        margin-right: 5%;
        width: 5rem;
        height: 0.1rem;
        background: white;
    }
}

%flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-black;
    color: white;
    a {
        text-decoration: none;
        color: white;
        transition: $color-transition;
    }
    li {
        list-style: none;
    }
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        background: $light-red;
    }
    &::-webkit-scrollbar-track {
        background: $black-shade;
    }
}

.particles-js {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

// navigation bar ---------------------------------------------------------------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem 5rem;
    width: 100%;
    background: $background-black;
    z-index: 2;
}

.header__nav {
    @extend %flex-row;
    font-family: $font-family-2;
    font-size: 1.3rem;
    a:hover {
        color: $light-red;
    }
}

.header__nav__first-item {
    margin-right: 50%;
    font-size: 1.5rem;
}


// landing page -----------------------------------------------------------------------------
.landing-page {
    height: 100vh;
    display: grid;
    place-items: center;
}

.landing-page__heading {
    opacity: 0;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    font-family: $font-family-1;
    font-size: 6rem;
    z-index: 1;
    animation: 0.5s ease-in-out 0.3s forwards fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}


// projects section --------------------------------------------------------------------------
.projects {
    margin-top: 0;
    padding: $padding;
}

.projects__title {
    @extend %section-title-style;
}

.projects__container {
    @extend %flex-row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 5%;
}

.projects__container__project {
    @extend %flex-column;
    padding: 1.5em 1em 1em;
    width: 41vw;
    height: fit-content;
    margin-bottom: 7%;
    border-radius: 10px;
    background: $black-shade;
}

.projects__container__project__img {
    width: 100%;
    height: auto;
}

.projects__container__project__title {
    font-family: $font-family-1;
    font-weight: 500;
    font-size: 2rem;
    margin: 6% auto 5%;
}

.projects__container__project__text {
    font-family: $font-family-2;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.8rem;
    width: 90%;
    height: 6rem;
    a {
        text-decoration: underline;
        &:hover {
            color: $light-red;
        }
    }
}

.projects__container__project__links {
    @extend %flex-row;
    margin: 6% auto 4%;
    width: 50%;
    a {
        padding: 2% 1%;
        width: 40%;
        text-align: center;
        font-family: $font-family-2;
        font-weight: 400;
        font-size: 1.3rem;
        color: white;
        background: $background-black;
        border-radius: 3px;
        transition: $background-transition;
        &:hover {
            background: $light-red;
        }
    }
}

.projects__see-more {
    text-align: center;
}

.projects__see-more__link {
    padding: 1.5% 2.5%;
    text-align: center;
    font-family: $font-family-2;
    font-weight: 400;
    font-size: 1.3rem;
    border-radius: 5px;
    background: $black-shade;
    transition: $background-transition;
    &:hover {
        background: $light-red;
    }
}


// about section --------------------------------------------------------------------------
.about {
    margin: $section-margin;
    padding: $padding;
}

.about__title {
    @extend %section-title-style;
}

.about__text {
    @extend %flex-row;
    margin-top: 5%;
    padding: 0 5%;
}

.about__text__paragraph {
    width: 80%;
    font-family: $font-family-2;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.about__text__img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.about__skills {
    margin-top: 6rem;
}

.about__skills__title {
    text-align: center;
    margin-bottom: 5%;
    font-family: $font-family-1;
    font-weight: 400;
    font-size: 1.5rem;
}

.about__skills__list-container {
    @extend %flex-row;
    padding: 0 20%;
}

.about__skills__list-container__list {
    width: 20vw;
    height: 18.7em;
    padding: 1.5% 0;
    border-radius: 10px;
    background: $black-shade;
    text-align: center;
    font-family: $font-family-2;
    font-size: 1.3rem;
    line-height: 2.9rem;
}


// contact section --------------------------------------------------------------------------
.contact {
    margin: $section-margin;
    padding: $padding;
}

.contact__title {
    @extend %section-title-style;
}

.contact__container {
    @extend %flex-row;
    margin-top: 3rem;
    padding: 0 20% 0 5%;
    font-family: $font-family-2;
    line-height: 4.5rem;
    font-size: 1.5rem;
}

.contact__container__links__1 {
    @extend %flex-column;
    align-items: flex-start;
}

.contact__container__links__2 {
    @extend %flex-column;
    align-items: flex-start;
}

.contact__container__links__1__email {
    &:hover {
        color: $gmail-red;
    }
}

.contact__container__links__1__linkedin {
    &:hover {
        color: $linkedin-blue;
    }
}

.contact__container__links__2__twitter {
    &:hover {
        color: $twitter-blue;
    }
}

.contact__container__links__2__github {
    &:hover {
        color: #bbb;
    }
}

.contact__container__links__2__codepen {
    &:hover {
        color: #bbb;
    }
}

.contact__container__links__icon {
    margin-right: 1rem;
    transform: scale(1.1);
}


// footer ---------------------------------------------------------------------------------
.footer {
    margin: 6rem 0 2rem;
    text-align: center;
    font-family: $font-family-2;
    font-weight: 300;
}


// media queries --------------------------------------------------------------------------

@import 'large-screen-style';
@import 'mobile-style-1';
@import 'mobile-style-2';
@import 'mobile-style-3';